body {
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-weight:lighter;
  color: white;
}

#screen-app-Procura {
  width: 6.60em;
  height: 6.60em;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid darkgray;
  border-radius: 0.5em;
  position: absolute;
  background-color: #45555F;

}

#button-div {
  display: block;
  position: absolute;
  left: 103%;
  margin-top: 1em;
  z-index: 10;
}

#button {
  fill:black;
  rx:4;
  ry:4;
  stroke: #636363;
  display: block;
}

#screen-top {
  height: 0.825em;
  width: inherit;
}

#screen-bottom {
  height: 0.825em;
  width: inherit;
  position: fixed;
  bottom: 0;
}

#time {
  height: inherit;
  width: 25%;
  position: fixed;
  right: 0;
  font-size: 0.5em;
  color: white;
  text-align: center;
}

#app-name {
  height: inherit;
  width: 60%;
  position: fixed;
  left: 15%;
  font-size: 0.5em;
  color: white;
  text-align: left;
  margin-bottom: 3em;
}

#back {
  height: inherit;
  width: 15%;
  position: fixed;
  left: 0;
}

#back-icon {
  filter: invert(100%);
  height: 0.7em;
  width: 0.9em;
  position: fixed;
}

#dot-division {
  height: inherit;
  width: inherit;
  table-layout: fixed;
}

#app-division {
  height: 4.95em;
  width: inherit;
  table-layout: fixed;
  margin-right: auto;
  margin-left: auto;
  position: relative;
} 

#screen-divison {
  font-size: 0.1em;
}

#sidebyside {
  float: left;
  width: 50%;
}

#name-and-pic {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  height: 2.4em;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  margin-bottom: 0.3em;
}

#band-name {
  text-align: center;
  margin-top: 0.3em;
  margin-left: 0.1em;
  float: left;
  width: 50%;
  height: inherit;
  font-size: 0.65em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#band-pic {
  width:40%;
  float: left;
}

#pic {
  border-radius: 100%;
  width: 90%;
  margin-left: 0.66em;
}

#schedule{
  text-align: center;
  width:60%;
  display:block;
  font-size: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4em;
  margin-bottom: 0.1em;
  position: relative;
}

#location {
  list-style-type: none;
  width: 100%;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 0.3em;
}

.location-element {
  float:left;
  position: relative;
}

#icon-li {
  width:10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#button-li {
  width:80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#icon-location {
  width:100%;
  z-index: 100;
  margin-left: 0.8em;
  position: relative;
  bottom: 0.2em;
}


#button-location {
  width:100%;
  text-align: right;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0.5em;
  border-left: 2em;
  z-index: -10;
  font-size: 0.5em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}
